html {
	font-size:10px; 
}
/* 배경 이미지 */
body {
	background-image: url("images/bus_main.jpg"); /* 이미지 경로 */
 	background-repeat: no-repeat; /* 컨텐츠보다 크기가 작을 경우 반복 여부 */
	background-position: center center; /* 위치 */
	background-attachment: fixed; /* 스크롤 시 위치(고정) */
	background-size: cover; /* 반응형 옵션 */
	background-color:white; /* 이미지 로딩 시 보여줄 색깔 */
}


/* 1.logo */
/* 전체 */
.logo_wrap {
	position: relative;
	padding-top: 3%;
	width: 450px;
	text-align: center;
	margin: 0px auto;
}
/* logo 이미지 */
.logo_wrap img {
	width: 100%;
	height: auto;
}


/* 2.버스번호 검색 */
/* 전체( 1)시도 2)시군구 3)버스번호 검색 ) */
.search_container {
	position: relative;
	margin: 2% auto 0px;
	width: 700px;
	height: 40px;
	text-align: center;
}
/* 1-1)시도 select box */
.search_container .sido {
    position: absolute;
	top: 0%;
	left: 0%;
	width: 210px;
	height: 100%;
	background-color: white;
	opacity: 0.7;
	border: none;
	font-size: 2.3rem;
	font-family: 'Do Hyeon', sans-serif;
}
/* 1-2)시군구 select box */
.search_container .sigungo {
    position: absolute;
	top: 0%;
	left: 220px;
	width: 210px;
	height: 100%;
	background-color: white;
	opacity: 0.7;
	border: none;
	font-size: 2.3rem;
	font-family: 'Do Hyeon', sans-serif;
}
/* 3)버스번호 검색 */
/* 전체(input, btn) */
.search_container .form_wrap {
    position: absolute;
    top: 0%;
    left: 440px;
	width: 260px;
	height: 100%;
	background-color: white;
	opacity: 0.7;
}
/* 3-1)input*/
.search_container .form_wrap #bus_num{
	position: absolute;
	left: 0;
	width: 220px;
	height: 100%;
	text-align: right;
	font-size: 2.3rem;
	font-family: 'Do Hyeon', sans-serif;
	border: 0;
	outline: 0;
	padding: 0;
}
/* 3-1)input placeholder*/
.search_container .form_wrap #bus_num::placeholder{
	color: black;
}
/* 3-2)btn(for submit) */
.search_container .form_wrap #btn_search {
	position: absolute;
	left: 220px;
	width: 40px;
	height: 100%;
	border: 0;
	outline: 0;
	padding: 0;
}
/* 3-2)btn(for submit) 이미지 */
.search_container .form_wrap #btn_search .icon_search {
	width: 22px;
	height: 22px;
	border: 0;
	outline: 0;
}


/* 버스 노선 */
/* 전체( 1)상행 title 2)하행 title 3)노선도 ) */
.bus_info_container {
	position: relative;
	margin: 3% auto 0px;
	width: 700px;
	height: 450px;
	text-align: center;
	display: none;
}
/* 1)상행 title */
.bus_info_container .up_title {
	width: 350px;
	height: 40px;
	background-color: #f8c291;
	opacity: 0.7;
	font-size: 2.3rem;
	font-family: 'Do Hyeon', sans-serif;
	float: left;
	cursor: pointer;
}
/* 2)하행 title */
.bus_info_container .down_title {
	width: 350px;
	height: 40px;
	background-color: #74b9ff;
	opacity: 0.7;
	font-size: 2.3rem;
	font-family: 'Do Hyeon', sans-serif;
	vertical-align: middle;
	float: left;
	cursor: pointer;
}
/* 1,2) title 텍스트 */
.bus_info_container p{
	width: 100%;
	height: 26px;
	margin: 7px auto;
	/* vertical-align: middle; */
}
/* 3)노선도 */
/* 3-1)반투명 박스 */
.bus_info_container .line_container {
	position: absolute;
	top: 40px;
	width: 700px;
	height: 450px;
	background-color: #f8c291;
	opacity: 0.8;

}
/* 3-2)노선도 전체 크기/위치 */
.bus_info_container .line_container .line_wrap {
	position: absolute;
	top: 40px;
	left: 50px;
	width:560px;
	height: 360px;
}
/* 3-3)가로노선 오른쪽 방향(->) */
/* 3-3-1)전체 */
.line_container .line_wrap .bus_stop_h_right {
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
}
/* 3-3-2)동그라미 이미지 */
.line_container .line_wrap .bus_stop_h_right .circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url("images/circle.png");
	background-size: cover;
	cursor: pointer;
}
/* 3-3-3)가로선 이미지 */
.line_container .line_wrap .bus_stop_h_right .hline {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 85px;
	height: 20px;
	background-image: url("images/hline.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
}
/* 3-3-4)역 이름 */
.line_container .line_wrap .bus_stop_h_right .station {
	position: absolute;
	top: 25px;
	left: 0;
	width: 80px;
	height: 20px;
	font-size: 1.7rem;
	font-family: 'Do Hyeon', sans-serif;
	text-align: left;
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}
/* 3-4)가로노선 왼쪽 방향(<-) */
/* 3-4-1)전체 */
.line_container .line_wrap .bus_stop_h_left {
	position: relative;
	width: 100px;
	height: 100px;
	float: right;
}
/* 3-4-2)동그라미 이미지 */
.line_container .line_wrap .bus_stop_h_left .circle {
	position: absolute;
	top: 0;
	left: 80px;
	width: 20px;
	height: 20px;
	background-image: url("images/circle.png");
	background-size: cover;
	cursor: pointer;
}
/* 3-4-3)가로선 이미지 */
.line_container .line_wrap .bus_stop_h_left .hline {
	position: absolute;
	top: 6px;
	left: -2px;
	width: 85px;
	height: 100%;
	background-image: url("images/hline.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
}
/* 3-4-4)역 이름 */
.line_container .line_wrap .bus_stop_h_left .station {
	position: absolute;
	top: 25px;
	left: 80px;
	width: 80px;
	height: 20px;
	font-size: 1.7rem;
	font-family: 'Do Hyeon', sans-serif;
	text-align: left;
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}

/* 3-5)세로노선 */
/* 3-5-1)전체 */
.line_container .line_wrap .bus_stop_v {
	position: relative;
	width: 20px;
	height: 80px;
	float: left;
}
/* 3-5-2)동그라미 이미지 */
.line_container .line_wrap .bus_stop_v .circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url("images/circle.png");
	background-size: cover;
	cursor: pointer;
}
/* 3-5-3)세로선 이미지 */
.line_container .line_wrap .bus_stop_v .vline {
	position: absolute;
	top: 17px;
	left: 6px;
	width: 100%;
	height: 85px;
	background-image: url("images/vline.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
}
/* 3-5-4)역 이름 */
.line_container .line_wrap .bus_stop_v .station {
	position: absolute;
	top: 25px;
	left: 0;
	width: 80px;
	height: 20px;
	font-size: 1.7rem;
	font-family: 'Do Hyeon', sans-serif;
	text-align: left;
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}
/* 3-6)노선 마지막 오른쪽 방향(->) */
/* 3-6-1)전체 */
.line_container .line_wrap .bus_stop_last_right {
	position: relative;
	width: 20px;
	height: 80px;
	float: left;
}
/* 3-6-2)동그라미 이미지 */
.line_container .line_wrap .bus_stop_last_right .circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url("images/circle.png");
	background-size: cover;
	cursor: pointer;
}
/* 3-6-4)역 이름 */
.line_container .line_wrap .bus_stop_last_right .station {
	position: absolute;
	top: 25px;
	left: 0;
	width: 80px;
	height: 20px;
	font-size: 1.7rem;
	font-family: 'Do Hyeon', sans-serif;
	text-align: left;
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}
/* 3-7)노선 마지막 왼쪽 방향(<-) */
/* 3-7-1)전체 */
.line_container .line_wrap .bus_stop_last_left {
	position: relative;
	width: 20px;
	height: 80px;
	float: right;
}
/* 3-7-2)동그라미 이미지 */
.line_container .line_wrap .bus_stop_last_left .circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url("images/circle.png");
	background-size: cover;
	cursor: pointer;
}
/* 3-7-4)역 이름 */
.line_container .line_wrap .bus_stop_last_left .station {
	position: absolute;
	top: 25px;
	left: 0;
	width: 80px;
	height: 20px;
	font-size: 1.7rem;
	font-family: 'Do Hyeon', sans-serif;
	text-align: left;
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}

/* 4.툴팁 */
.popup_layer {
	position: absolute;
	display: none;
	width: 250px;
	height: 100px;
	/* padding: 10px; */
}
.popup_img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
}
.popup_img img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.popup_img .popup_content {
	position: absolute;
	top: 8px;
	left: 20px;
	width: 230px;
}
.popup_img .popup_content p{
	margin: 0;
}
.popup_layer .icon_close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 10px;
	height: 10px;
}

